@import "react-select/dist/react-select.css";
@import "eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css";

.link-component {
  color: #478;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 2px;
  border-radius: 5px;
}

.link-component:hover {
  background-color: #e7f0f3;
}

.link-component .link-component-remove {
  position: absolute;
  top: -6px;
  right: -6px;
  visibility: hidden;
  font-size: 80%;
  border-radius: 10;
}

.link-component:hover .link-component-remove {
  visibility: visible;
}

.link-component-remove:hover {
  visibility: visible !important;
  color: #639db0;
}

/* Use these to make a child that displays only when parent is hovered */
.hover-display-parent > .hover-display-child {
  visibility: hidden;
}

.hover-display-parent:hover > .hover-display-child {
  visibility: visible;
}

.hover-grey-background:hover {
	background-color: #EEE;
}

/* For InlineExprEditorComponent */
.inline-expr-block {
  display: inline-block;
  border-radius: 2px;
  padding: 2px;
  background-color: rgba(0, 126, 255, 0.08);
  border: solid 1px rgba(0, 126, 255, 0.24);
  color: rgba(0,126,255, 0.8)
}