.link-component {
  color: #478;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  margin-right: 5px;
}

.link-component:hover {
  background-color: #e7f0f3;
}

.link-component .link-component-remove {
  position: absolute;
  top: -6px;
  right: -6px;
  visibility: hidden;
  font-size: 80%;
  border-radius: 10;
}

.link-component:hover .link-component-remove {
  visibility: visible;
}

.link-component-remove:hover {
  visibility: visible !important;
  color: #639db0;
}

/* Use these to make a child that displays only when parent is hovered */
.hover-display-parent > .hover-display-child {
  visibility: hidden;
}

.hover-display-parent:hover > .hover-display-child {
  visibility: visible;
}

.hover-grey-background:hover {
	background-color: #EEE;
}

/* For InlineExprEditorComponent */
.inline-expr-block {
  display: inline-block;
  border-radius: 2px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 1px;
  margin-right: 1px;
  background-color: rgba(0, 126, 255, 0.08);
  border: solid 1px rgba(0, 126, 255, 0.24);
  color: rgba(0,126,255, 0.8)
}


/* Property editor */
.pl-editor-container .pl-controls .btn{ 
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  top: -1px;
}

.pl-container > div {
  border-bottom: 1px solid #aeaeae;
  border-left: 1px solid #aeaeae;
  border-right: 1px solid #aeaeae;
  position: relative;
}

.pl-container > div:first-child {
  border-top: 1px solid #aeaeae;
}

.pl-container .pl-item {
  padding: 6px;
}

.pl-container .pl-item-type-section {
  background-color: #eee;
}

.pl-container .pl-item-section {
  margin-left: 30px;
  background-color: white;
}

.pl-container .pl-item-detail {
  display: flex;
}

.pl-container .pl-item .pl-item-detail-name {
  font-weight: bold;
}

.pl-container .pl-item .pl-item-detail-sql {
  font-size: 12px;
}
.pl-container .pl-item .pl-item-detail-enum {
  font-size: 12px;
}

.pl-container .pl-item .pl-item-detail-table {
  font-size: 12px;
}

.pl-container .pl-item .pl-item-detail-indicator {
  color: #888;
}
.pl-container .pl-item .pl-item-detail-indicator .glyphicon,
.pl-container .pl-item .pl-item-detail-indicator .fa {
  width: 25.2px;
  text-align: center;
}

.pl-container .pl-item-controls {
  font-size: 12px;
  padding: 4px 8px;
  background: #f5f5f5;
  border-bottom-left-radius: 4px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.pl-container .pl-item-deprecated-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  opacity: 0.8;
  z-index: 1;
}

.pl-container .pl-property:hover > .pl-item-controls {
  font-size: 12px;
  display: block;
}

.pl-container .pl-item-controls .pl-item-control{
  margin-right: 8px;
} 

.pl-container .pl-item-controls .pl-item-control:last-child{
  margin-right: 0;
}
